@use '../../foundation/mixin' as mixin;

.c-button {
    // &__small , &__large の共通のスタイリング
    &__small , &__large, &__smallmultilingual ,&__largemultilingual {
        border: #303030 1px solid;
        border-radius: 5px;
        text-align: center;

        // 子要素の縦中央揃え
        display: flex;
        align-items: center;

            @include mixin.pc {
                transition: ease 0.2s;
                //ボタンのアニメーションの基準
                position: relative;
            }

        
            @include mixin.smartphone {
                background: linear-gradient(90deg, #303030 11.79%, #6B6B6B 111.79%);
            }


        >span {
            display:inline-block; //親要素とwidth/heightを同じにする為必要
            height: 100%;
            width: 100%;
           
            @include mixin.pc {
                position: relative;  //これがないとZ-indexが効かない
                color: #303030;
                z-index: 3;
            }
            
            

            @include mixin.smartphone {
                color:white;
            }



        &:hover {
            @include mixin.pc {
                color: white;
            }    

            @include mixin.smartphone {
                pointer-events: none;
            }
        }
      }

    // &__small , &__large の共通疑似要素のスタイリング
        &::before {

            @include mixin.pc {
                content: '';
                /*絶対配置で位置を指定*/
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
            
                /*色や形状*/
                background: #303030 ;/*背景色*/
                width: 100%;
                height: 100%;
                
                /*アニメーション*/
                transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
                transform: scale(0, 1);
                transform-origin: right top;

            }

            @include mixin.smartphone {
                display: none;
            }

        }

        &:hover::before {

            @include mixin.pc { 
                z-index: 2;
                transform-origin:left top;
                transform:scale(1, 1);

            }

            @include mixin.smartphone {
                pointer-events: none;
            }
        }  
    }

    // &__smallと&__largeのそれぞれのスタイリング

    &__small { 
        width: 200px;
        height: 28px;
        line-height: 26px;

      @include mixin.smartphone {
        width: 186px;
        height: 30px;
        font-size: 14px;
        line-height: 28px;
      }

    }

    &__smallmultilingual {
        width: 200px;
        height: 63px;
        line-height: 30px;
        
    }


    &__large { 
        width: 280px;
        height: 50px;
        line-height: 48px;
        font-size: 24px;

        @include mixin.smartphone {
            width: 300px;
            height: 40px;
            font-size: 16px;
            line-height: 38px;
        }
    }

    &__largemultilingual {
        width: 280px;
        height: 85px;
        line-height: 40px;

        @include mixin.smartphone {
            width: 300px;
            height: 67px;
            line-height: 30px;
        }
    }




}