@use '../../foundation/mixin' as mixin;

.c-fadeTriger {
    opacity: 0;

    @include mixin.smartphone {
        opacity: 1;
    }

}

.c-fade {
    &__in  {
    
      @include mixin.pc {
      animation-name:fadeUpAnime;
      animation-duration:1s;
      animation-fill-mode:forwards;
      opacity:0;

      }

    }
}

@keyframes fadeUpAnime{
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}