@use '../../foundation/mixin' as mixin;

//topページのファーストビューのグリッド
.c-grid {
    &__topgourmet {
        grid-column: 1 / 3;
        background:url(../img/topgrid/gourmet.webp) no-repeat center/cover;
        @include mixin.bottomright;

    }

    &__topshop {
        @include mixin.pc {
            grid-column: 3 / 5;
            background:url(../img/topgrid/shop.webp) no-repeat center/cover;
            @include mixin.bottomright
        }
    
        @include mixin.smartphone {
            grid-column: 3 / 4;
            background:url(../img/topgrid/shop.webp) no-repeat center/cover;
            @include mixin.bottomright
        }
    }

    &__tophotel {
        @include mixin.pc {
            grid-column: 5 / 6;
            background:url(../img/topgrid/hotel.webp) no-repeat center/cover;
            @include mixin.bottomright;
        }
    
        @include mixin.smartphone {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            background:url(../img/topgrid/hotel.webp) no-repeat center/cover;
            @include mixin.bottomright
        }

    }

    &__toplogo {
        @include mixin.verticalcenter;
        @include mixin.smartphone {
            @include mixin.verticalcenter;
            justify-content: center;
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
        
    }

    &__topaccess {
        @include mixin.pc {
            background:url(../img/topgrid/access.webp) no-repeat center/cover;
            @include mixin.bottomright
        }

        @include mixin.smartphone {
            background:url(../img/topgrid/access.webp) no-repeat center/cover;
            @include mixin.bottomright;
            grid-column: 3 / 4;
            grid-row: 2 / 3;

        }

    }

    &__topevent {
        @include mixin.pc {
            background:url(../img/topgrid/event.webp) no-repeat center/cover;
            grid-column: 1 / 3;
            grid-row: 2 / 3;
            @include mixin.bottomright
        }

        @include mixin.smartphone {
            background:url(../img/topgrid/event.webp) no-repeat center/cover;
            grid-column: 1 / 3;
            grid-row: 3 / 4;
            @include mixin.bottomright
        }

    }

    &__topspa {
        @include mixin.pc {
            background:url(../img/topgrid/spa.webp) no-repeat center/cover;
            @include mixin.bottomright
        }

        @include mixin.smartphone {
            background:url(../img/topgrid/spa.webp) no-repeat center/cover;
            grid-column: 3 / 4;
            grid-row: 3 / 4;
            @include mixin.bottomright
        }
    }


}





.c-topspagrid {
    @include mixin.pc {
        background:url(../img/topgrid/spa.webp) no-repeat center/cover;
        @include mixin.bottomright
    }
    
}


//グルメ一覧のスペシャル写真のグリッド
.c-specialfoodgrid,.c-specialgoodsgrid {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    width: 440px;
    height: 440px;

    @include mixin.smartphone {
        width: 340px;
        height: 340px;
    }
}

//グルメ一覧の普通の写真のグリッド
.c-normalfoodgrid,.c-normalgoodsgrid {
    width: 210px;
    height: 210px;

    @include mixin.smartphone {
        width: 160px;
        height: 160px;
    }
}


//グルメ一覧のボックスシャドウの色
.c-specialfoodgrid,.c-normalfoodgrid {
    box-shadow: #FFAD33 5px 5px;
    cursor: pointer;
}

//ショップ一覧のボックスシャドウの色
.c-specialgoodsgrid,.c-normalgoodsgrid {
    box-shadow: #FF3333 5px 5px;
    cursor: pointer;
}


//グルメ、ショッピングのショップのスペシャル写真のグリッド
.c-shopgrid {
    &__foodspecial ,&__goodspecial {
        width: 440px;
        height: 440px;
        grid-column: 1 / 3;
        grid-row: 1 / 3;

            @include mixin.smartphone {
                width: 170px;
                height: 170px;
            }
     }
    
    &__foodnormal, &__goodsnormal {
        width: 210px;
        height: 210px;  
            @include mixin.smartphone {
                width: 80px;
                height: 80px;
            }
     }
     
//グルメショップのボックスシャドウの色
     &__foodspecial,&__foodnormal {
        box-shadow: #FFAD33 5px 5px;
        cursor: pointer;
    }

    &__goodspecial, &__goodsnormal {
        box-shadow: #FF3333 5px 5px;
        cursor: pointer;
    }

}






