@use '../../foundation/mixin' as mixin;

//topページのファーストビューのグリッド

.c-gridA {
    background:url(/content/img/grid1.webp) no-repeat center/cover;
}

.c-gridB {
    background:url(/content/img/grid2.webp) no-repeat center/cover;
}

.c-gridC {
    background:url(/content/img/grid3.webp) no-repeat center/cover;
    @include mixin.smartphone {
        background:url(/content/img/grid5.webp) no-repeat center/cover;
    }
}

.c-gridD {
    background:url(/content/img/grid4.webp) no-repeat center/cover;
    @include mixin.smartphone {
        background:url(/content/img/welovelogo.png) no-repeat center center / 95% 95%;
    }
}

.c-gridE {
    background:url(/content/img/grid5.webp) no-repeat center/cover;
    @include mixin.smartphone {
        background:url(/content/img/grid3.webp) no-repeat center/cover;
    }

}

.c-gridF {
    background:url(/content/img/grid6大.webp) no-repeat center/cover;
    grid-column: 1 / 3;
    grid-row: 2 / 4;

    @include mixin.smartphone {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
}

.c-gridG {
    background:url(/content/img/welovelogo.png) no-repeat center/cover;
    @include mixin.smartphone { 
        background:url(/content/img/grid4.webp) no-repeat center/cover;
    }
}

.c-gridH {
    background:url(/content/img/grid8.webp) no-repeat center/cover;
}

.c-gridI {
    background:url(/content/img/grid9.webp) no-repeat center/cover;
}

.c-gridJ {
    background:url(/content/img/grid10.webp) no-repeat center/cover;
}

.c-gridK {
    background:url(/content/img/grid11.webp) no-repeat center/cover;
}

.c-gridL {
    background:url(/content/img/grid12.webp) no-repeat center/cover;
}

//グルメ詳細のグリッド
.c-specialfoodgrid {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    width: 440px;
    height: 440px;
}

//グルメ普通のグリッド
.c-normalfoodgrid {
    width: 210px;
    height: 210px;
}


//グルメ詳細のボックスシャドウの色
.c-specialfoodgrid,.c-normalfoodgrid {
    box-shadow: #FFAD33 5px 5px;
    cursor: pointer;
}






