.c-illust {
  //グルメ
    &__food {
        width: 52px;
        height: 62px; 
    }

    &__rectant {
        width: 10px;
        height: 36px;
    }
  
  // ショッピング

    &__shop {
        widows: 63px;
        height: 63px;
    }

    &__yokorectant {
       width: 36px;
       height: 10px;
    }


}