@use '../../foundation/mixin' as mixin;

.c-illust {
  //ヘッダアイコン
   &__headerlogo {
       width: 273px;
       height: 30px;

       @include mixin.smartphone {
           width: 183px;
           height: 15pt;
       }

       //ハンバーガーメニュが開いたら、消えるようにする。
       &.is-open  {
         display: none;
       }
   }

  //グルメアイコン
    &__sushi {
        width: 74px;
        height: 40px;
    }

    &__food {
        width: 52px;
        height: 62px; 
    }

    &__chinafood {
        width: 57px;
        height: 50px;

    }

    &__cafe {
        width: 60px;
        height: 51px;
    }

    &__rectant {
        width: 10px;
        height: 36px;
    }
  
  // ショッピングアイコン

    &__shop {
        widows: 60px;
        height: 60px;
    }

    &__yokorectant {
        width: 36px;
        height: 10px;
    }

    &__logo {
        height: 115px;
        width: 115px;
            @include mixin.smartphone {
                height: 115px;
                width: 115px;
            }

    }

     // ホテルアイコン

    &__hotel {
        height: 50px;
        width: 54px;
    }


     &__smallhotel {
         height: 20px;
         width: 24px;
     }



     // グルメ詳細の店名の飾りアイコン
     &__decoshikaku {
         height: 45px;
         width: 45px;
     }

     // グルメ詳細の王冠アイコン
     &__crown {
         height: 40px;
         width: 48px;
     }

     // グルメ、ショッピングの詳細のロケーションアイコン
     &__location {
         height: 48px;
         width: 34px;
     }

     &__wallet {
         height: 43px;
         width: 43px;
     }
     


     // グルメ詳細のサブタイトルの飾りアイコン
     &__titleshikaku {
         height: 40px;
         width: 20px;
     }

     // グルメ用のコメントアイコン 
     &__comment {
        height: 50px;
        width: 50px;
     }

     // スペシャル映像用のアイコン 
     &__camera {
         height: 60px;
         width: 60px;
     } 

     //縦のスペシャル動画のあしらい
     &__special {
         width: 20px;

         @include mixin.smartphone {
          display: none;
        }
     }

     &__pagenation {
         height: 30px;
         width: 188px;

     }

     &__snsbar {
         height: 700px;
         width: 20px;


     }

}