@use '../../foundation/mixin' as mixin;

.c-photo {
    &__newscard {
        width: 280px;
        height: 200px;
    }

    &__topfood,&__topshop,&__tophotel {
        width: 200px;
        height: 200px;
        
    }

    &__topexperience {
        width: 440px;
        height: 280px;
    }

    &__topfood {
        box-shadow: 5px 5px #FFAD33;
    }

    &__topshop, &__redtiktok {
        box-shadow: 5px 5px #FF3333;
    }

    &__tophotel,&__yellowtiktok {
        box-shadow: 5px 5px #FFD433;
    }



    &__smallview {
        height: 350px;
        width: 100%;
        object-fit: cover;
        @include mixin.smartphone {
            height: 200px;
        }
    }

    &__bigview {
        height: 500px;
        width: 100%;
        object-fit: cover;
        
    }

}

//写真をモーダルで表示
//
.c-graydisplay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);

    // 一番上に出てくるようにする。
    z-index: 40; 

    > img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 600px;
        height: 600px;

        @include mixin.smartphone {
            width: 340px;
            height: 340px;
        }

    }
  }
