@use '../../foundation/mixin' as mixin;


// サブタイトルの数字
.c-topnumber {
    &__red ,&__yellow ,&__orange  {
        font-size: 96px;

        @include mixin.smartphone {
            font-size: 48px;
        }
    }

    &__red {
        color: #FF3333; 
    }

    &__yellow {
        color: #FFD433;
    }

    &__orange {
        color: #FFAD33;
    }

    
}

// サブタイトルの文字の大きさ
.c-topsubtitle {
    font-size: 64px;

    @include mixin.smartphone {
        font-size: 24px;
    }
}

// お知らせのカテゴリーの大きさ
.c-categoly {
    &__red , &__yellow, &__purple, &__date {
        width: 120px;
        height: 31px;

        >p {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

        }
    
    }  

    &__largeorange  {
        width: 200px;
        height: 32px;

        @include mixin.smartphone {
            width: 150px;
            height: 25px;
        }

        >p {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            color: white;

            @include mixin.smartphone {
                font-size: 16px;
            }

        }
    
    }  

    &__date {
         >p {
             justify-content: end;
         }
    }

    &__red {
        background-color: #FF3333;
    }

    &__yellow {
        background-color: #FFD433;
    }

    &__purple {
        background-color: #A533FF;
    }   

    &__largeorange {
        background-color: #FFAD33;
    }

}

// toppageのグルメの横棒のあしらい

.c-topfood { 
    &__title {
        font-size: 24px;
        

    }
}

.c-newsdetail {
    &__title {
        font-size: 32px;

        @include mixin.smartphone {
            font-size: 24px;
        }
    }
}