@use '../../foundation/mixin' as mixin;

.u-margin {
    &__top5 {
        margin-top: 5px;
    }

    &__top15 {
        margin-top: 15px;
    }

    &__left10 {
        margin-left: 10px;
    }

    &__pc-top35 {
        @include mixin.pc {
            margin-top: 35px;
        }
    }

    &__pc-top40 {
        @include mixin.pc {
            margin-top: 40px;
        }
    }

    &__pc-top60 {
        @include mixin.pc {
           margin-top: 60px;
        }
    }

    &__pc-top80 {
        @include mixin.pc {
           margin-top: 80px;
        }
    }

    &__pc-topbot60 {
        @include mixin.pc {
            margin: 60px 0 60px 0;
        }
    } 

    &__pc-topbot90 {
        @include mixin.pc {
            margin: 90px 0 90px 0;
        }
    }

    &__pc-top100 {
        @include mixin.pc {
            margin-top: 100px;
        }
    }

    &__pc-top115 {
        @include mixin.pc {
            margin-top: 115px;
        }
    }

    &__pc-top120 {
        @include mixin.pc {
            margin-top: 115px;
        }
    }

    &__pc-bot40 {
        @include mixin.pc {
            margin-bottom: 40px;
        }
    }

    &__pc-bot50 {
        @include mixin.pc {
            margin-bottom: 50px;
        }
    }

    &__pc-topbot100 {
        @include mixin.pc {
            margin: 100px 0 100px 0;
        }
    }

    &__pc-topbot115 {
        @include mixin.pc {
        margin: 115px 0 115px 0;
        }
    }

    &__pc-left5 {
        @include mixin.pc {
            margin-left: 5px;
        }
    }

    &__left10 {
        @include mixin.pc {
            margin-left: 10px;
        }
    }

    &__pc-left15 {
        @include mixin.pc {
            margin-left: 15px;
        }
    }


//////smartPhone
    &__sp-top10 {
        @include mixin.smartphone {
            margin-top: 10px;
        }
        
    }

    &__sp-top15 {
        @include mixin.smartphone {
            margin-top: 15px;
        }
        
    }

    &__sp-top20 {
        @include mixin.smartphone {
            margin-top: 20px;
        }
        
    }

    &__sp-top30 {
        @include mixin.smartphone {
            margin-top: 30px;
        }
        
    }
    
    &__sp-top35 {
        @include mixin.smartphone {
            margin-top: 35px;
        }
        
    }


    &__sp-top40 {
        @include mixin.smartphone {
            margin-top: 40px;
        }
        
    }

    &__sp-top50 {
        @include mixin.smartphone {
            margin-top: 50px;
        }
        
    }

    &__sp-top60 {
        @include mixin.smartphone {
            margin-top: 60px;
        }
        
    }

    &__sp-top90 {
        @include mixin.smartphone {
            margin-top: 90px;
        }
        
    }

    &__sp-bot60 {
        @include mixin.smartphone {
            margin-bottom: 60px;
        }
    }

    &__sp-left5 {
        @include mixin.smartphone {
            margin-left: 5px;
        }
    }

    &__sp-left10 {
        @include mixin.smartphone {
            margin-left: 10px;
        }
    }

    &__sp-topbot5 {
        @include mixin.smartphone {
            margin: 5px 0 5px 0;
        }     
    }

    &__sp-topbot15 {
        @include mixin.smartphone {
            margin: 15px 0 15px 0;
        }     
    }

    &__sp-topbot30 {
        @include mixin.smartphone {
            margin: 30px 0 30px 0;
        }
        
    }

    &__sp-topbot40 {
        @include mixin.smartphone {
            margin: 40px 0 40px 0;
        }
        
    }

    &__sp-topbot60 {
        @include mixin.smartphone {
            margin: 60px 0 60px 0;
        }
        
    }

}