@use '../foundation/mixin' as mixin;

.l-header  {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: #F8F8F8;
    position: fixed;
    z-index: 20;
   
        @include mixin.smartphone {
            height: 50px;
        }

        &.is-open  {
            background-color: white;
        }
}