@use '../../foundation/mixin' as mixin;

.p-footer {
    @include mixin.verticalcenter ;
    // align-content: space-between;
    background-color: #F8F8F8; 
    justify-content: space-between;
    height: 240px;

    &__company,&__address,&__list {
        display: flex;
      
    }

    &__company , &__list{
        width: 320px;
        justify-content: space-between;
    }

    &__address {
        flex-direction: column;
    }

    &__list {
        width: 675px;  

        @include mixin.smartphone {
           font-size: 14px;
           @include mixin.verticalcenter ;
           width: 340px;
           display: grid;
           grid-template-columns: 1fr 1fr 1fr;
           grid-template-rows: 1fr 1fr ;
           gap: 20px 0;
        }

        >a { 
           @include mixin.smartphone {
              display: flex;
              justify-content: center;
              align-items: center;
           }
          
        }
       
    }
   
}