@use '../../foundation/mixin' as mixin;

//ファーストビューのグリッド
.p-gridcontainer {
    // height:calc(100vh - 70px) ;
    width: 100%;
    display: grid;
    // grid-template-columns: repeat(5, 1fr);
    grid-template-columns: calc(calc(100% - 280px - 40px) / 4) 
                           calc(calc(100% - 280px - 40px) / 4)
                           280px
                           calc(calc(100% - 280px - 40px) / 4)
                           calc(calc(100% - 280px - 40px) / 4);
    grid-template-rows: calc(calc(100vh - 350px - 20px) / 2)
                        280px
                        calc(calc(100vh - 350px - 20px) / 2);
    gap: 10px 10px;
    background-color: #F8F8F8;
    
}

.p-topsubtitle {
    @include mixin.verticalcenter;
    height: 300px;
    justify-content: space-between;

}

.p-topnumber {
    &__redline, &__yellowline,&__orangeline {
        position: relative;

        &::after {
            position: absolute;
            top:135%;
            left: 25%;
            content : "";
            width: 60px;
            height: 1px;
            transform: rotate(90deg);
        }
    }

    &__redline::after {
        background-color: #FF3333;
    }

    &__yellowline::after {
        background-color: #FFD433 ;
    }

    &__orangeline::after {
        background-color: #FFAD33;
    }

}


.p-topnotice {
    width:100%;
    height: 725px;
    background:#F8F8F8 url(/content/img/ShinsaiBashi.png) no-repeat  600px/750px;
    background-position: calc(100% - 10px) 60px;

    @include mixin.verticalcenter;

    &__text {
        width: 600px;
        height: 220px;

        @include mixin.verticalcenter;
        justify-content: space-between;
    }

   
}

.p-topnews {
    width: 100%;
    height: 1150px;
    background:#fff url(/content/img/News.png) no-repeat  300px/600px;
    background-position: 10px 60px;
    @include mixin.verticalcenter;

    &__contents {
        width: 920px;
        display: flex;
        justify-content: space-between;

    }
}

.p-newscard {
    width: 280px;
    height: 400px;
    border: #303030 solid 0.5px; 
    box-shadow: 2px 2px 4px rgba(48, 48, 48, 0.25);
    @include mixin.verticalcenter;

    >p {
        margin-top: 8px;
        height: 50px;
        width: 240px;
        font-weight: 700;
    }

    &__top {
        height: 47px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__categoly {
        width: 264px;
        display: flex;
        justify-content: space-between;

    }
}


//グルメとショッピングの共通部分のスタイリング
.p-topfood__grid,.p-topshop__grid {
    width: 920px;
    display: grid;
    row-gap:115px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows : repeat(2, 2fr);
}


.p-topfood {
    width: 100%;
    height: 1440px;
    background:#F8F8F8 url(/content/img/Gourmet.png) no-repeat  300px/900px;
    background-position: calc(100% - 10px) 60px;
    @include mixin.verticalcenter;

    // &__grid {
    //     width: 920px;
    //     display: grid;
    //     row-gap:115px;
    //     grid-template-columns: repeat(4, 1fr);
    //     grid-template-rows : repeat(2, 2fr);
    // }

    &__gheader {
        height: 62px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__gtitle {
        height: 100%;
        display: flex;
        align-items: center;
    }


}

.p-topshop {
    width: 100%;
    height: 1500px;
    background: #ffffff url(/content/img/Shopping.png) no-repeat  300px/1000px;
    background-position: 10px 60px;
    @include mixin.verticalcenter;


    &__contents, &__gtitle {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    &__contents {
        height: 345px;

        > a {
            display: inline-block;
            height: 100%;
        }
    }

    &__gheader {
        width: 200px;
        display: flex;
        justify-content: space-between;
    }

    &__gtitle {
        height: 110px;
       
        >p {
            font-size: 24px;
            line-height: 1.5;
        }
    }

    

}

