@use '../../foundation/mixin' as mixin;


//各articleコンテンツの幅はWidth、Heightはautoとする
//ファーストビューのグリッド
.p-gridcontainer {
    width: 100%;
    display: grid;
    grid-template-columns: calc(calc(100% - 280px - 40px) / 4) 
                           calc(calc(100% - 280px - 40px) / 4)
                           280px
                           calc(calc(100% - 280px - 40px) / 4)
                           calc(calc(100% - 280px - 40px) / 4);
    grid-template-rows: calc(calc(100vh - 350px - 20px) / 2)
                        280px
                        calc(calc(100vh - 350px - 20px) / 2);
    gap: 10px 10px;
    background-color: #F8F8F8;
    
    @include mixin.smartphone {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns:calc(calc(100% - 125px) / 2)
                              125px 
                              calc(calc(100% - 125px) / 2);
        grid-template-rows: calc(calc(100vh - 125px) / 3)
                             125px                      
                             calc(calc(100vh - 125px) / 3)
                             calc(calc(100vh - 125px) / 3);

        // grid-template-columns: repeat(3,1fr);
        // grid-template-rows: repeat(4,1fr);
        gap: 0px 0px;

    }
}

.p-topsubtitle {
    @include mixin.verticalcenter;
    // height: 300px;
    justify-content: space-between;

}

.p-topnumber {
    &__redline, &__yellowline,&__orangeline {
        position: relative;

        &::after {
            position: absolute;
            top:135%;
            left: 25%;
            content : "";
            width: 60px;
            height: 2px;
            transform: rotate(90deg);

            @include mixin.smartphone {
                top:155%;
                width: 30px;
                height: 1px;
            }
            
        }
    }

    &__redline::after {
        background-color: #FF3333;
    }

    &__yellowline::after {
        background-color: #FFD433 ;
    }

    &__orangeline::after {
        background-color: #FFAD33;
    }

} 

.p-topnotice {
    background:#F8F8F8 url(/content/img/ShinsaiBashi.png) no-repeat  600px/750px;
    background-position: calc(100% - 10px) 60px;
    @include mixin.verticalcenter;

    @include mixin.smartphone {
        background:#F8F8F8 url(/content/img/ShinsaiBashi.png) no-repeat  280px/340px;
        background-position: calc(100% - 20px) 20px;
    }

    &__text {
        width: 600px;
        height: 160px;

        @include mixin.verticalcenter;
        justify-content: space-between;

        @include mixin.smartphone {
            width: 300px;
            height: 300px;
        }

    }

   
}

.p-topnews {
    background:#fff url(/content/img/News.png) no-repeat  300px/600px;
    background-position: 10px 60px;
    @include mixin.verticalcenter;

    @include mixin.smartphone {
        background:#fff url(/content/img/News.png) no-repeat  185px/340px;
        background-position: 10px 30px;
    }

    &__contents {
        @include mixin.pc {
            width: 920px;
            display: flex;
            justify-content: space-between;
           
        }

        @include mixin.smartphone {
            display: flex;
            justify-content: center;
            flex-direction: column;
           
        }

    }
}

.p-newscard {
    width: 280px;
    height: 400px;
    border: #303030 solid 0.5px; 
    box-shadow: 2px 2px 4px rgba(48, 48, 48, 0.25);
    @include mixin.verticalcenter;

    >p {
        margin-top: 8px;
        height: 50px;
        width: 240px;
        font-weight: 700;
    }

    &__top {
        height: 47px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__categoly {
        width: 264px;
        display: flex;
        justify-content: space-between;

    }
}


//グルメ、ショッピング、ホテルの共通部分のスタイリング
.p-topfood__grid,.p-topshop__grid ,.p-tophotel__grid{
    @include mixin.pc {
        width: 920px;
        display: grid;
        row-gap:115px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows : repeat(2, 1fr);
    }
    
}


.p-topfood {
    background:#F8F8F8 url(/content/img/Gourmet.png) no-repeat  300px/900px;
    background-position: calc(100% - 10px) 60px;
    @include mixin.verticalcenter;

    @include mixin.smartphone {
        background:#F8F8F8 url(/content/img/Gourmet.png) no-repeat  115px/340px;
        background-position: calc(100% - 10px) 20px;
    }

    &__gheader {
        height: 62px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__gtitle {
        height: 100%;
        display: flex;
        align-items: center;
    }
}

.p-topshop {
    background: #ffffff url(/content/img/Shopping.png) no-repeat  300px/1000px;
    background-position: 10px 60px;
    @include mixin.verticalcenter;

    @include mixin.smartphone {
        background: #ffffff url(/content/img/Shopping.png) no-repeat  105px/340px;
        background-position: 10px 30px;
    }


    &__contents, &__gtitle {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    &__contents {
        height: 345px;

        @include mixin.smartphone {
            height: 300px;
        }

        // > a {
        //     display: inline-block;
        //     height: 100%;
        // }
    }

    &__gheader {
        width: 200px;
        display: flex;
        justify-content: space-between;
    }

    &__gtitle {
        height: 110px;

        @include mixin.smartphone {
            height: 86px;
        }
       
        >p {
            font-size: 24px;
            line-height: 1.5;

            @include mixin.smartphone {
                font-size: 16px;
            }
        }
    }
}

.p-tophotel {
    background:#F8F8F8 url(/content/img/hotel.png) no-repeat  300px/560px;
    background-position: calc(100% - 10px) 60px;
    @include mixin.verticalcenter;

    @include mixin.smartphone {
        background:#F8F8F8 url(/content/img/hotel.png) no-repeat  180px/340px;
        background-position: calc(100% - 10px) 20px;
    }

    &__grid {
        @include mixin.smartphone {
            @include mixin.verticalcenter;
        }
    }

    &__gheader {
        width: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__contents {
        display: inline-block
    }

    &__text {
        @include mixin.verticalcenter;

        >p { line-height: 1.5;
        
        }
    }

}

.p-toprequest {
    background: #ffffff url(/content/img/toprequest/Request.png) no-repeat  300px/1000px;
    background-position: 10px 60px;
    @include mixin.verticalcenter;

    @include mixin.smartphone {
        background: #ffffff url(/content/img/toprequest/Request.png) no-repeat  145px/340px;
        background-position: 10px 30px;
    }

    &__text {
        @include mixin.verticalcenter;
        @include mixin.smartphone {
            width: 300px;
        }
        
    }
}

/////New一覧ページ/////////////////////////////////
.p-newsfirstview {
    height: 350px;
    width: 100%;
    background: url(/content/img/news/newsfirstview.webp) no-repeat  center/cover; 
    @include mixin.smartphone {
        height: 200px;
    }
}


.p-news {
    @include mixin.verticalcenter;
    background:#fff url(/content/img/News.png) no-repeat  300px/585px;
    background-position: 10px 60px;
    width: 100%;

    @include mixin.smartphone {
        background:#fff url(/content/img/News.png) no-repeat  80px/150px;
        background-position: 10px 20px;
    }

    >h2 {
        font-size: 48px;
        @include mixin.smartphone {
            font-size: 24px;
        }
    }

    &__grid {
        @include mixin.pc {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows : repeat(3, 1fr);
            gap: 80px 40px;
        }
        
    }
}

.p-newsdetail {
    @include mixin.verticalcenter;
        &__header {
            width: 920px;
            display: flex;
            justify-content: space-between;

            @include mixin.smartphone {
                width: 300px;
            }

            >p {
                font-size: 36px;
                @include mixin.smartphone {
                    font-size: 16px;
                }

            }
        }

        &__title {
            @include mixin.smartphone {
                width: 300px;
            }
        }

        &__contents {
            width: 760px;
            height: 290px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include mixin.smartphone {
                width: 300px;
            }
        }
    
}