@use '../../foundation/mixin' as mixin;


////////Topページ////////////////////////////////////////////////////////////// 

///Topページのファーストビューのグリッド
.p-gridcontainer {
    width: 100%;
    display: grid;
    grid-template-columns: calc(calc(100% - 280px - 40px) / 4) 
                           calc(calc(100% - 280px - 40px) / 4)
                           280px
                           calc(calc(100% - 280px - 40px) / 4)
                           calc(calc(100% - 280px - 40px) / 4);
    grid-template-rows: calc(calc(100vh - 350px - 10px))
                        280px;
    gap: 10px 10px;
    background-color: #F8F8F8;
    
    @include mixin.smartphone {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns:calc(calc(100% - 125px ) / 2)
                              125px 
                              calc(calc(100% - 125px) / 2);
        grid-template-rows: calc(calc(100vh - 125px  - 50px) / 2)
                             125px                      
                             calc(calc(100vh - 125px - 50px) / 2);

        gap: 0px 0px;

    }

}

.p-topsubtitle {
    @include mixin.verticalcenter;
    justify-content: space-between;

    &__JpnEng {
        display:flex;

        @include mixin.smartphone {
            flex-direction: column;
        }
    }

}

.p-topnumber {
    &__redline, &__yellowline,&__orangeline {
        position: relative;

        &::after {
            position: absolute;
            top:135%;
            left: 25%;
            content : "";
            width: 60px;
            height: 2px;
            transform: rotate(90deg);

            @include mixin.smartphone {
                top:155%;
                width: 30px;
                height: 1px;
            }
            
        }
    }

    &__redline::after {
        background-color: #FF3333;
    }

    &__yellowline::after {
        background-color: #FFD433 ;
    }

    &__orangeline::after {
        background-color: #FFAD33;
    }

} 

///Topページ:WeLove心斎橋とは

.p-topnotice {
    width: 100%;
    background:#F8F8F8 url(../img/ShinsaiBashi.png) no-repeat  600px/750px;
    background-position: calc(100% - 10px) 60px;
    @include mixin.verticalcenter;

    @include mixin.smartphone {
        background:#F8F8F8 url(../img/ShinsaiBashi.png) no-repeat  280px/340px;
        background-position: calc(100% - 20px) 20px;
    }

    &__text {
        width: 920px;
        justify-content: space-between;

        @include mixin.smartphone {
            width: 300px;
           
        }

    }

}

///Topページ:お知らせ

.p-topnews {
    width: 100%;
    background:#fff url(../img/News.png) no-repeat  300px/600px;
    background-position: 10px 60px;
    @include mixin.verticalcenter;

    @include mixin.smartphone {
        background:#fff url(../img/News.png) no-repeat  150px/280px;
        background-position: 10px 30px;
    }

    &__contents {
        @include mixin.pc {
            width: 920px;
            display: flex;
            justify-content: space-between;
           
        }

        @include mixin.smartphone {
            display: flex;
            justify-content: center;
            flex-direction: column;
           
        }

    }
}

.p-newscard {
    width: 280px;
    height: 520px;
    border: #303030 solid 0.5px; 
    box-shadow: 2px 2px 4px rgba(48, 48, 48, 0.25);
    @include mixin.verticalcenter;
    justify-content: space-between;

    @include mixin.smartphone {
        height: 450px;
    }

    &__contents {
        @include mixin.verticalcenter;
        >p {
            width: 240px;
            font-weight: 700;
            line-height: 1.4;

            @include mixin.smartphone {
                font-size: 14px;
            }
        } 
    }

    &__top {
        height: 47px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__categoly {
        width: 264px;
        display: flex;
        justify-content: space-between;

    }
}


//グルメ、ショッピング、ホテルの共通部分のスタイリング(コンテンツのグリッド）
.p-topfood__grid,.p-topshop__grid ,.p-tophotel__grid{
    @include mixin.pc {
        width: 920px;
        display: grid;
        row-gap:115px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows : repeat(2, 1fr);
    }
    
}

///Topページ:グルメ

.p-topfood {
    width: 100%;
    background:#F8F8F8 url(../img/Gourmet.png) no-repeat  300px/900px;
    background-position: calc(100% - 10px) 60px;
    @include mixin.verticalcenter;

    @include mixin.smartphone {
        background:#F8F8F8 url(../img/Gourmet.png) no-repeat  115px/340px;
        background-position: calc(100% - 10px) 20px;
    }

    &__gheader {
        height: 80px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__gtitle {
        height: 100%;
        display: flex;
        
    }

    &__name {
        display: flex;
        flex-direction: column;
    }
}

///Topページ:ショップ

.p-topshop {
    width: 100%;
    background: #ffffff url(../img/Shopping.png) no-repeat  300px/1000px;
    background-position: 10px 60px;
    @include mixin.verticalcenter;

    @include mixin.smartphone {
        background: #ffffff url(../img/Shopping.png) no-repeat  140px/360px;
        background-position: 10px 30px;
    }


    &__contents, &__gtitle {
        display: flex;
        flex-direction: column;
    }

    &__contents {
        height: 345px;

        @include mixin.smartphone {
            height: 300px;
        }
    }

    &__gheader {
        width: 200px;
        display: flex;
        justify-content: space-between;
    }

    &__gtitle {
        height: 110px;

        @include mixin.smartphone {
            height: 86px;
        }
       
    }
}

///Topページ:ホテル

.p-tophotel {
    width: 100%;
    background:#F8F8F8 url(../img/hotel.png) no-repeat  300px/560px;
    background-position: calc(100% - 10px) 60px;
    @include mixin.verticalcenter;

    @include mixin.smartphone {
        background:#F8F8F8 url(../img/hotel.png) no-repeat  100px/240px;
        background-position: calc(100% - 10px) 20px;
    }

    &__grid {
        @include mixin.smartphone {
            @include mixin.verticalcenter;
        }
    }

    &__gheader {
        width: 200px;
        height: 180px;
        display: flex;
        justify-content: space-between;
       

    }

    &__contents {
        display: inline-block
    }

    &__text {
        @include mixin.verticalcenter;
        width: 100px;

        >p { line-height: 1.5;
        
        }
    }

}

///Topページ:体験

.p-topexprience {
    width: 100%;
    background: #ffffff url(../img/Experience.png) no-repeat  300px/1000px;
    background-position: 10px 60px;
    @include mixin.verticalcenter;

    @include mixin.smartphone {
        background: #ffffff url(../img/Experience.png) no-repeat  160px/370px;
        background-position: 10px 30px;
    }

    &__contents {
        width: 920px;
        display: flex;
        justify-content: space-between;

        @include mixin.smartphone {
            width: 300px;
            flex-direction: column;
        }
        
    }
    
    &__gheader {
        width: 440px;
        display: flex;
        justify-content: space-between;

        @include mixin.smartphone {
            width: 300px;
        }
    }

    &__gtitle {
        display: flex;
    }
}

///Topページ:アクセス

.p-topaccess {
    width: 100%;
    background:#F8F8F8 url(../img/Access.png) no-repeat  600px/750px;
    background-position: calc(100% - 10px) 60px;
    @include mixin.verticalcenter;

    @include mixin.smartphone {
        background:#F8F8F8 url(../img/Access.png) no-repeat  280px/340px;
        background-position: calc(100% - 20px) 20px;
    }

    &__contents {
        display: flex;
        width: 920px;

        @include mixin.smartphone {
            width: 300px;
            flex-direction: column;
            @include mixin.verticalcenter
        }
    }

    &__title {
        @include mixin.smartphone {
            @include mixin.verticalcenter;
        }

    }

    

    &__text {
        display: flex;
        @include mixin.smartphone {
            width: 300px;
            flex-direction: column;
            @include mixin.verticalcenter
        }
    }

    &__link {
        @include mixin.verticalcenter;
    }


}


/////New一覧ページ/////////////////////////////////

.p-news {
    @include mixin.verticalcenter;
    background:#fff url(../img/News.png) no-repeat  300px/585px;
    background-position: 10px 60px;
    width: 100%;

    @include mixin.smartphone {
        background:#fff url(../img/News.png) no-repeat  150px/280px;
        background-position: 10px 20px;
    }



    &__grid {
        @include mixin.pc {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows : repeat(2, 1fr);
            gap: 80px 40px;
        }
        
    }
}

/////News詳細ページ///////////////////////////////////////////////////////////
.p-newsdetail {
        &__header {
            width: 920px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include mixin.smartphone {
                width: 300px;
            }

            >p {
                font-size: 36px;
                @include mixin.smartphone {
                    font-size: 16px;
                }

            }
        }

        &__title {
            width: 920px;
            @include mixin.smartphone {
                width: 300px;
            }
        }

        &__contents {
            width: 760px;
        
            @include mixin.smartphone {
                width: 300px;
            }
        }
    
}

/////Mainページ(グルメ、ショッピング、ホテル）///////////////////////////////////////////////////////////////

.p-main {
    @include mixin.verticalcenter;
    background:#fff url(../img/ShinsaiBashi.png) no-repeat  600px/780px;
    background-position: 10px 60px;
    width: 100%;

        @include mixin.smartphone {
            background:#fff url(../img/ShinsaiBashi.png) no-repeat  80px/150px;
            background-position: 10px 20px;
        }

    &__tab {
        display: flex;
        width: 920px;
        justify-content: space-between;

        @include mixin.smartphone {
            width: 340px;
        }
    }

    &__orangetab, &__redtab, &__yellowtab {
        background:#F8F8F8;
        width: 300px;
        height: 50px;
        display: flex;
        justify-content: center;

        @include mixin.smartphone {
            width: 110px;
            height: 40px;
        }

        

        >a {
            display: block;
            width: 300px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            font-size: 24px;

            @include mixin.smartphone {
                width: 110px;
                height: 40px;
                line-height: 40px;
                font-size: 16px;
            }

        }
    }

    //activeのクラスが着くと＃FFAD33に変わる。
    &__orangetab {
        &.active {
            background: #FFAD33;
        }
    }

    &__redtab {
        &.active { 
            background:#FF3333 ;
        }
    }

    &__yellowtab {
        &.active { 
            background:#FFD433 ;
        }
    }

    &__contents {
        display: none;/*はじめは非表示*/
	    opacity: 0;/*透過0*/
	    background: #fff;
        padding:50px 20px;
       
            &.is-active {
                display: block;/*表示*/
                animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
                animation-duration: 2s;
                animation-fill-mode: forwards;
                background: transparent;
                @include mixin.verticalcenter;
            }
    }

    &__shoplinks {
        @include mixin.verticalcenter;
        background: transparent;

    }

    &__contentheader ,&__subtitle {
        font-size: 32px;
        display: flex;
        justify-content: space-between;

            @include mixin.smartphone {
                font-size: 16px;   
            }
        

    }

    &__contentheader {
        width: 920px;
        align-items: center;

            @include mixin.smartphone {
                width: 300px;  
                align-items: baseline;
            }
    }

    &__subtitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
            @include mixin.smartphone {
                flex-direction: column;
                align-items: flex-start;

            }
        
    }

// グルメ、ショッピング、ホテルのタイトルナンバー
    &__subnumber, &__subshopnumber {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__subnumber {
        width: 300px;
            @include mixin.smartphone {
                width: 180px;
            }
          
    }

    &__subshopnumber {
        width: 500px;
            @include mixin.smartphone {
                width: 180px;
            }
    }

    &__category {
        width: 225px;
            @include mixin.smartphone {
                font-size: 16px;
                width: 120px;
            }
    }

    &__shopcategory {
        width: 420px;
            @include mixin.smartphone {
                font-size: 16px;
                width: 130px;
            }
    }

//フードとショップのリンク
    &__shoplink {
        @include mixin.pc {
            display: grid;
            grid-template-columns: repeat(2, 440px);
            grid-template-rows: repeat(2,70px);
        }

        @include mixin.smartphone {
            display: grid;
            grid-template-columns: repeat(1, 340px);
            grid-template-rows: repeat(4,70px);
        }
    }

    &__shop ,&__store,&__yellowhotel,&__whitehotel {
        display: block;
        @include mixin.verticalcenter ;
        justify-content: center;

    }

     &__shop ,&__store {
        &:nth-child(2),&:nth-child(3) {
            @include mixin.pc {
                background-color:transparent;
            }    
        }

        &:nth-child(2),&:nth-child(4) {
            @include mixin.smartphone {
                background-color:transparent;
            }    
        }

     }

    &__shop {
        background: rgba(255, 173, 51, 0.25);
    }

    &__store {
        background: rgba(255, 51, 51, 0.25);
    }

    &__yellowhotel {
        background: #FFF4CC;

        &:nth-of-type(2n) {
            @include mixin.smartphone {
                background-color:transparent;
            }    
        }
        
    }

    &__whitehotel {
        background: transparent;

        &:nth-of-type(2n+1) {
            @include mixin.smartphone {
                background: #FFF4CC;
            }    
        }


        
    }


    &__shopname  {
        width: 400px;
        display: flex;
        justify-content: space-between;

        @include mixin.smartphone {
            width: 280px;
        }

        > p {
            width: 200px;

            @include mixin.smartphone {
                width: 180px;
            }


        }
    }

   

    &__hotellink {
        display: grid;
        @include mixin.pc {
            grid-template-columns: repeat(2, 440px);
            grid-template-rows: repeat(6,70px);
        }

        @include mixin.smartphone {
            grid-template-columns: repeat(1, 340px);
            grid-template-rows: repeat(8,70px);
        }
    }

    &__hotelcontents, &__hotelname {
        display: flex;
    }

    &__hotelname {
        width: 230px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        >p {
            width: 200px;
        }
    }
 
}

// タブの切り替えアニメーション

@keyframes displayAnime {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



.p-mainnumber{
    &__orange ,&__red { 
        font-size: 32px;
        position: relative;

        @include mixin.smartphone {
            font-size: 18px;
            font-weight: bold;
        }

        &::after {
            position: absolute;
            top: 50%;
            left: 200%;
            content : "";
            width: 35px;
            height: 1px;

            @include mixin.smartphone {
                width: 20px;
            }

        }

    }

    &__orange {
        color: #FFAD33;
        &::after {
            background: #FFAD33;    
        }
    }

    &__red {
        color: #FF3333;
        &::after {
            background: #FF3333;    
        }
    }
 
}



////////グルメ一覧ページ////////////////////////////////////////////////////////////// 
////////グルメ、ショップ一覧の写真のグリッド////////////////////////////////////////////////////////////// 
.p-listgrid {
    width: 440px;
    height: 675px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows : repeat(3, 1fr);
    gap: 20px 20px;

    @include mixin.smartphone {
        width: 340px;
        height: 520px;
    }
}

////////グルメ一覧ページ////////////////////////////////////////////////////////////// 

.p-foodlist {
    @include mixin.verticalcenter;
    background:#fff url(../img/Gourmet.png) no-repeat  300px/950px;
    background-position: 10px 60px;
    width: 100%;

    @include mixin.smartphone {
        background:#fff url(../img/Gourmet.png) no-repeat  80px/250px;
        background-position: 10px 10px;
    }

    &__subtitle {
        width: 440px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mixin.smartphone {
            width: 100%;
        }
    }

    &__shopname {
        display: flex;
        align-items: center;

        >P {
            font-size: 32px;

            @include mixin.smartphone {
                font-size: 24px;
            }
        }
    }

    &__wallet {
        width: 100%;
    } 

    &__contentstitle  {
        display: flex;
        align-items: center;
        width: 440px;

        @include mixin.smartphone {
            width: 100%;
            font-size: 15px;
        }

        >h3 {
            @include mixin.smartphone {
                font-size: 16px;
            }
        }


    }

    &__text {
        width: 440px;
        @include mixin.verticalcenter;

        @include mixin.smartphone {
            width: 340px;
            font-size: 15px;
        }

    }

    &__contents {
       width: 920px;
       display: flex;
       justify-content: space-between;

       @include mixin.smartphone {
           width: 340px;
           flex-direction: column;
       }
    }

    &__artcle {
        width: 440px;
        @include mixin.verticalcenter;
        justify-content: space-between;

        @include mixin.smartphone {
            width: 100%;
        }
    }

}


///////////グルメショップ、ショッピングのショップページメイン写真のグリッド//////////////
.p-shopgrid {
    @include mixin.pc {
        width: 920px;
        height: 675px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows : repeat(3, 1fr);
        gap: 20px 20px;

    }

    @include mixin.smartphone {
        width: 350px;
        height: 260px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows : repeat(3, 1fr);
        gap: 10px 10px;

    }


}

///////////グルメショップ、ショッピングのショップの各種情報のグリッド//////////////
.p-shopcontentgrid {

    @include mixin.pc  {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows : repeat(2, 1fr);
        gap: 40px 0;
    
        >div {
            @include mixin.verticalcenter;
        }
    }

    @include mixin.smartphone {
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows : repeat(4, 1fr);
        gap: 20px 0;
    }
    

}

.p-shopcontents {
     width: 440px;
     @include mixin.verticalcenter;

     &__title {
         width: 250px;
         display: flex;
         justify-content: space-between;
         align-items: center;

            @include mixin.smartphone {
                width: 200px;
            }
     }

     &__text {
         height: 64px;
         @include mixin.verticalcenter;
         justify-content: center;
     }


}

///////////グルメショップのページ//////////////////////////////////

.p-foodshop {
    @include mixin.verticalcenter;
    background:#fff url(../img/Gourmet.png) no-repeat  300px/950px;
    background-position: 10px 60px;
    width: 100%;
      
        @include mixin.smartphone {
            background:#fff url(../img/Gourmet.png) no-repeat  80px/250px;
            background-position: 10px 10px;
        }
       

    &__location {
        width: 680px;
        display: flex;
        justify-content: space-between;

            @include mixin.smartphone {
                width: 100%;
                flex-direction: column;
                align-items: center;
            }
    }

    &__access {
        width: 400px;
        display: flex;
        align-items: center;

            @include mixin.smartphone {
                width: 300px;
            }


    }

    &__special {
        @include mixin.verticalcenter;
        width: 760px;

            @include mixin.smartphone {
                width: 300px;
            }
        
    }

    &__specialtitle {
        display: flex;
        align-items: center;
        width: 440px;

            @include mixin.smartphone {
                width: 300px;
                font-size: 15px;
            }
    }

    &__sns {
        width: 920px;
        display: flex;
        justify-content: space-between;

        @include mixin.smartphone {
            @include mixin.verticalcenter
        }
        
    }

    &__tiktok {
        @include mixin.verticalcenter;
        
    }

}


///////////ショッピングのショップ一覧のページ//////////////////////////////////

.p-goodslist {
    @include mixin.verticalcenter;
    background:#fff url(../img/Shopping.png) no-repeat  300px/950px;
    background-position: 10px 60px;
    width: 100%;

        @include mixin.smartphone {
            background:#fff url(../img/Shopping.png) no-repeat  80px/250px;
            background-position: 10px 10px;
        }

    &__item {
        width: 100%;
    }
}

///////////ショッピングのショップページ//////////////////////////////////

.p-goodsshop {
    @include mixin.verticalcenter;
    background:#fff url(../img/Shopping.png) no-repeat  300px/950px;
    background-position: 10px 60px;
    width: 100%;

        @include mixin.smartphone {
            background:#fff url(../img/Shopping.png) no-repeat  80px/250px;
            background-position: 10px 10px;
        }

    &__contentstitle { 
        display: flex;
        align-items: center;
        width: 400px;

            @include mixin.smartphone {
                width: 305px;
            }
    }

    &__tiktok {

        @include mixin.verticalcenter;
        > p {
            font-size: 24px;
            color: #FF3333 ;
        }

    }

}

///////////We Love 心斎橋入会方法のショップページ//////////////////////////////////

.p-admission  {
    @include mixin.verticalcenter;
    background:#fff url(../img/Admission.png) no-repeat  300px/950px;
    background-position: 10px 60px;
    width: 100%;

       @include mixin.smartphone {
        background:#fff url(../img/Admission.png) no-repeat  80px/270px;
        background-position: 10px 10px;

       }


    &__title {
        width: 220px;
        font-size: 24px;

            @include mixin.smartphone {
                font-size: 16px;
                width: 130px;
            }
    }

    &__text {
        width: 760px;
        display: flex;
        justify-content: space-between;
        align-items: center;
           
            @include mixin.smartphone {
                width: 300px;
            }
    } 


    &__apply,&__applytitle,&__radio,&__choice {
        display: flex;
        align-items: center;

        @include mixin.smartphone {
            width: 300px;
            
        }
       
    }

    &__apply {
        @include mixin.smartphone {
            width: 300px;
            flex-direction: column;
        }
    }


    &__applytitle {
        width: 240px;    
        @include mixin.smartphone {
            width: 300px;
        }    
    }

    &__radio,&__post {
        width: 440px;

        @include mixin.smartphone {
            width: 300px;
        }
    }

    &__choice {
        width: 160px;
    }

    &__post {
        display: flex;
        height: 30px;
    }

    &__infotitle {
        display: flex;
        align-items: center;
        > P {
            font-size: 24px;
        }
    }
    
}

///////////We Love 心斎橋問い合わせページ//////////////////////////////////

.p-inquiry  {
    @include mixin.verticalcenter;
    background:#fff url(../img/Inquiry.png) no-repeat  300px/770px;
    background-position: 10px 30px;
    width: 100%; 

    @include mixin.smartphone {
        background:#fff url(../img/Inquiry.png) no-repeat  80px/190px;
        background-position: 10px 10px;
    }

  
}

///////////利用規約//////////////////////////////////

.p-regulation {
    @include mixin.verticalcenter;
    background:#fff url(../img/Regulation.png) no-repeat  300px/770px;
    background-position: 10px 60px;
    width: 100%; 

    @include mixin.smartphone {
        background:#fff url(../img/Regulation.png) no-repeat  80px/290px;
        background-position: 10px 10px;
    }



    &__title, &__subtitle, &__subtitlename{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        width: 500px;
        @include mixin.smartphone {
            width: 300px;
        }
    }

    &__subtitle {
        width: 920px;
        @include mixin.smartphone {
            width: 300px;
        }
    }

    &__subtitlename {
        display: flex;
        align-items: center;
    }


}