@charset "UTF-8";
/*! destyle.css v3.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

html {
  font-family: "Zen Kaku Gothic New", sans-serif;
  color: #303030;
}

h2 {
  font-family: "Roboto", sans-serif;
}

p {
  line-height: 2;
}

/* PCはWidthが691pxより大きい */
/* スマホはWidthが690pxより小さい */
.l-header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  background-color: #F8F8F8;
}

@media (max-width: 690px) {
  .l-header {
    height: 50px;
  }
}
.l-wrapper {
  overflow-x: hidden;
}

.l-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.l-main {
  height: 100%;
  width: 100%;
}

.l-side {
  height: 100%;
  width: 100vw;
  background-color: burlywood;
  position: absolute;
  left: 100%;
  top: 0;
}

.c-hambergerbutton {
  width: 30px;
  height: 30px;
  position: relative;
}

.c-hambergerbutton__bar {
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  background: #303030;
}

.c-hambergerbutton__bar:nth-child(1) {
  top: 0;
}

.c-hambergerbutton__bar:nth-child(2) {
  top: 50%;
}

.c-hambergerbutton__bar:nth-child(3) {
  top: 100%;
}

.c-gridA {
  background: url(/content/img/grid1.png) no-repeat center/cover;
}

.c-gridB {
  background: url(/content/img/grid2.png) no-repeat center/cover;
}

.c-gridC {
  background: url(/content/img/grid3.png) no-repeat center/cover;
}

.c-gridD {
  background: url(/content/img/grid4.png) no-repeat center/cover;
}

.c-gridE {
  background: url(/content/img/grid5.png) no-repeat center/cover;
}

.c-gridF {
  background: url(/content/img/grid6大.png) no-repeat center/cover;
  grid-column: 1/3;
  grid-row: 2/4;
}

.c-gridG {
  background: url(/content/img/welovelogo.png) no-repeat center/cover;
}

.c-gridH {
  background: url(/content/img/grid8.png) no-repeat center/cover;
}

.c-gridI {
  background: url(/content/img/grid9.png) no-repeat center/cover;
}

.c-gridJ {
  background: url(/content/img/grid10.png) no-repeat center/cover;
}

.c-gridK {
  background: url(/content/img/grid11.png) no-repeat center/cover;
}

.c-gridL {
  background: url(/content/img/grid12.png) no-repeat center/cover;
}

.c-underline__black {
  position: relative;
}

.c-underline__black::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  content: "";
  width: 100%;
  height: 0.5px;
  transform-origin: left top;
  transform: scale(0, 1);
  transition: transform 0.3s;
  background-color: #303030;
}

.c-underline__black:hover::after {
  transform: scale(1, 1);
}

.c-topnumber__red, .c-topnumber__yellow, .c-topnumber__orange {
  font-size: 96px;
}

.c-topnumber__red {
  color: #FF3333;
}

.c-topnumber__yellow {
  color: #FFD433;
}

.c-topnumber__orange {
  color: #FFAD33;
}

.c-topsubtitle {
  font-size: 64px;
}

.c-categoly__red, .c-categoly__yellow, .c-categoly__purple, .c-categoly__date {
  width: 120px;
  height: 31px;
}

.c-categoly__red > p, .c-categoly__yellow > p, .c-categoly__purple > p, .c-categoly__date > p {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-categoly__date > p {
  justify-content: end;
}

.c-categoly__red {
  background-color: #FF3333;
}

.c-categoly__yellow {
  background-color: #FFD433;
}

.c-categoly__purple {
  background-color: #A533FF;
}

.c-topfood__title {
  font-size: 24px;
}

.c-photo__newscard {
  width: 280px;
  height: 200px;
}

.c-photo__topfood, .c-photo__topshop, .c-photo__tophotel {
  width: 200px;
  height: 200px;
}

.c-photo__topfood {
  box-shadow: 5px 5px #FFAD33;
}

.c-photo__topshop {
  box-shadow: 5px 5px #FF3333;
}

.c-photo__tophotel {
  box-shadow: 5px 5px #FFD433;
}

.c-button__small, .c-button__large {
  border: #303030 1px solid;
  border-radius: 5px;
  text-align: center;
  transition: ease 0.2s;
  position: relative;
  display: flex;
  align-items: center;
}

.c-button__small > span, .c-button__large > span {
  display: inline-block;
  height: 100%;
  width: 100%;
  position: relative;
  color: #303030;
  z-index: 3;
}

.c-button__small > span:hover, .c-button__large > span:hover {
  color: white;
}

.c-button__small::before, .c-button__large::before {
  content: "";
  /*絶対配置で位置を指定*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  /*色や形状*/
  background: #303030; /*背景色*/
  width: 100%;
  height: 100%;
  /*アニメーション*/
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transform: scale(0, 1);
  transform-origin: right top;
}

.c-button__small:hover::before, .c-button__large:hover::before {
  z-index: 2;
  transform-origin: left top;
  transform: scale(1, 1);
}

.c-button__small {
  width: 200px;
  height: 28px;
  line-height: 26px;
}

.c-button__large {
  width: 280px;
  height: 50px;
  line-height: 48px;
  font-size: 24px;
}

.c-illust__food {
  width: 52px;
  height: 62px;
}

.c-illust__rectant {
  width: 10px;
  height: 36px;
}

.c-illust__shop {
  widows: 63px;
  height: 63px;
}

.c-illust__yokorectant {
  width: 36px;
  height: 10px;
}

.c-illust__logo {
  height: 115px;
  width: 115px;
}

@media (max-width: 690px) {
  .c-illust__logo {
    height: 115px;
    width: 115px;
  }
}
.c-fadeTriger {
  opacity: 0;
}

.c-fade__in {
  animation-name: fadeUpAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.p-header__pc {
  width: 920px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 690px) {
  .p-header__pc {
    display: none;
  }
}
.p-header__list {
  width: 545px;
  display: flex;
  justify-content: space-between;
}

.p-header__mobile {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 691px) {
  .p-header__mobile {
    display: none;
  }
}
.p-gridcontainer {
  width: 100%;
  display: grid;
  grid-template-columns: calc((100% - 280px - 40px) / 4) calc((100% - 280px - 40px) / 4) 280px calc((100% - 280px - 40px) / 4) calc((100% - 280px - 40px) / 4);
  grid-template-rows: calc((100vh - 350px - 20px) / 2) 280px calc((100vh - 350px - 20px) / 2);
  gap: 10px 10px;
  background-color: #F8F8F8;
}

.p-topsubtitle {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
}

.p-topnumber__redline, .p-topnumber__yellowline, .p-topnumber__orangeline {
  position: relative;
}

.p-topnumber__redline::after, .p-topnumber__yellowline::after, .p-topnumber__orangeline::after {
  position: absolute;
  top: 135%;
  left: 25%;
  content: "";
  width: 60px;
  height: 1px;
  transform: rotate(90deg);
}

.p-topnumber__redline::after {
  background-color: #FF3333;
}

.p-topnumber__yellowline::after {
  background-color: #FFD433;
}

.p-topnumber__orangeline::after {
  background-color: #FFAD33;
}

.p-topnotice {
  background: #F8F8F8 url(/content/img/ShinsaiBashi.png) no-repeat 600px/750px;
  background-position: calc(100% - 10px) 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.p-topnotice__text {
  width: 600px;
  height: 220px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.p-topnews {
  background: #fff url(/content/img/News.png) no-repeat 300px/600px;
  background-position: 10px 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.p-topnews__contents {
  width: 920px;
  display: flex;
  justify-content: space-between;
}

.p-newscard {
  width: 280px;
  height: 400px;
  border: #303030 solid 0.5px;
  box-shadow: 2px 2px 4px rgba(48, 48, 48, 0.25);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.p-newscard > p {
  margin-top: 8px;
  height: 50px;
  width: 240px;
  font-weight: 700;
}

.p-newscard__top {
  height: 47px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-newscard__categoly {
  width: 264px;
  display: flex;
  justify-content: space-between;
}

.p-topfood__grid, .p-topshop__grid, .p-tophotel__grid {
  width: 920px;
  display: grid;
  row-gap: 115px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.p-topfood {
  background: #F8F8F8 url(/content/img/Gourmet.png) no-repeat 300px/900px;
  background-position: calc(100% - 10px) 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.p-topfood__gheader {
  height: 62px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-topfood__gtitle {
  height: 100%;
  display: flex;
  align-items: center;
}

.p-topshop {
  background: #ffffff url(/content/img/Shopping.png) no-repeat 300px/1000px;
  background-position: 10px 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.p-topshop__contents, .p-topshop__gtitle {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.p-topshop__contents {
  height: 345px;
}

.p-topshop__contents > a {
  display: inline-block;
  height: 100%;
}

.p-topshop__gheader {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.p-topshop__gtitle {
  height: 110px;
}

.p-topshop__gtitle > p {
  font-size: 24px;
  line-height: 1.5;
}

.p-tophotel {
  background: #F8F8F8 url(/content/img/hotel.png) no-repeat 300px/560px;
  background-position: calc(100% - 10px) 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.p-tophotel__gheader {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-tophotel__text {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.p-tophotel__text > p {
  line-height: 1.5;
}

.p-toprequest {
  background: #ffffff url(/content/img/toprequest/Request.png) no-repeat 300px/1000px;
  background-position: 10px 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.p-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F8F8F8;
  justify-content: space-between;
  height: 240px;
}

.p-footer__company, .p-footer__address, .p-footer__list {
  display: flex;
}

.p-footer__company, .p-footer__list {
  width: 320px;
  justify-content: space-between;
}

.p-footer__address {
  flex-direction: column;
}

.p-footer__list {
  width: 675px;
}

.u-margin__top5 {
  margin-top: 5px;
}

.u-margin__top15 {
  margin-top: 15px;
}

.u-margin__pc-top35 {
  margin-top: 35px;
}

.u-margin__pc-top60 {
  margin-top: 60px;
}

.u-margin__pc-topbot60 {
  margin: 60px 0 60px 0;
}

.u-margin__pc-top115 {
  margin-top: 115px;
}

.u-margin__pc-topbot115 {
  margin: 115px 0 115px 0;
}

.u-margin__left10 {
  margin-left: 10px;
}

.u-padding__pc-topbot30 {
  padding: 30px 0 30px 0;
}
/*# sourceMappingURL=weloveshinsaibahi-style.css.map */